.blank {
  height: 99vh;
  background: rgba(217, 222, 228, 255);
}
.posteg {
  position: absolute;
  top: 163%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  column-gap: 1.75rem;
}

.halfbg {
  position: absolute;
  top: 160%;
  z-index: 1;
  height: 52vh;
  width: 100%;
}

.card {
  width: 21rem;
  height: 28rem;
  border: solid white 1rem;
}

.card img {
  height: 14rem;
  max-height: 15rem;
}

.section2 {
  top: 120%;
  padding: 1em;
  width: 25vw;
  background-color: transparent;
  color: black;
}
