.blank {
  height: 99vh;
  background: #fbfbfb;
}
.posteg {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  column-gap: 5rem;
}

.card {
  width: 20rem;
  height: 27rem;
  /* box-shadow: black 10px 14px; */
  border: solid black 1px;
}

.card img {
  max-height: 15rem;
}

.section2 {
  top: 120%;
  padding: 0.5em;
  width: 25vw;
  background-color: transparent;
  color: black;
}
