.flexx {
  display: flex;
  height: 90vh;
  align-items: center;
  /* background: #fbfbfb; */
}
/* .one img {
  height: 700px;
  width: 50vw;
  object-fit: cover;
  object-position: 0 -200px;
} */
.two {
  padding: 4rem;
  max-width: 60%;
}
.two input,
.two textarea {
  border: none;
  background: none;
  border-bottom: solid 1px gray;
  padding: 0.5em;
  width: 100%;
  margin-top: 1.25rem;
}
.two button {
  margin: 2rem 0;
  letter-spacing: 1.5px;
}
.sidebox {
  width: 20vw;
  background-color: rgba(217, 222, 228, 255);
  height: 90vh;
  right: 0%;
}
