.flexx {
  display: flex;
}
.one img {
  height: 1000px;
  width: 55vw;
  overflow: hidden;
  margin-top: -350px;
}
.two {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 3.5rem 1rem;
  /* background-image: url(https://c4.wallpaperflare.com/wallpaper/644/305/118/pattern-black-gradient-texture-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* box-shadow: black 0px 14px 28px, black 0px 10px 10px; */
  max-width: 45%;
}
.two input,
.two textarea {
  border: none;
  background: none;
  border-bottom: solid 1px gray;
  padding: 0.5em;
  width: 70%;
  margin: 1.25rem;
  color: inherit;
}
.two button {
  margin: 1em;
  letter-spacing: 1.5px;
}
